html,
body {
    margin: 0;
    padding: 1;
    height: 100vh;
    width: 100vw;
    background-color: #0a0c0e;
    text-align: justify;
    line-height: 1.8;
    /* Garante que o corpo ocupe toda a altura da tela */
    font-family: MedievalSharp;
}

footer {
    background-color: gray;
}

.magesBG {
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    max-width: 190rem;
    max-height: 200rem;
}

.container {
    text-align: center;
    position: relative;
    width: 100%;
}

.logo {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    width: 10rem;
    height: 12rem;
    min-width: 5rem;
    min-height: 6rem;
}

.navbar-links {
    position: absolute;
    z-index: 10;
    top: 0%;
    right: 0%;
    color: white;
    display: inline;
    font-size: 1px;
    width: fit-content;
    height: fit-content;
}

.navbar-links,
a {
    color: white;
    text-decoration: none;
    font-size: 3vw;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    font-size: 5rem;
    margin: 2rem;
}

#Spells {
    color: rgb(245, 70, 70);
    font-weight: bold;
}

#Intro:hover {
    color: rgb(245, 70, 70);
    font-weight: bold;
    cursor: pointer;
}

#Spells:hover {
    color: rgb(245, 70, 70);
    font-weight: bold;
    cursor: pointer;
}

#Guild:hover {
    color: rgb(245, 70, 70);
    font-weight: bold;
    cursor: pointer;
}

.ScrollableText {
    width: 100%;
    /* Garante que ocupa pelo menos o tamanho da tela */
    line-height: 1.8;
    font-size: 1.1em;
    z-index: 0;
}

#Destruction {
    font-size: 2.5vw;
    width: fit-content;
    text-align: center;
    align-items: center;
    background: linear-gradient(#ecff3d, #f79311, #cc0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

#DestructionHeader {
    text-align: center;
    align-items: center;
    background: linear-gradient(#ecff3d, #f79311, #cc0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    margin: 0;
    font-size: 3rem;
}

section {
    font-size: 50rem;
}

#Destruction-Container {
    display: flex;
    border: 10rem;
    width: fit-content;
}

#Destruction-Container,
p {
    position: relative;
}

#DestructionSymbol {
    opacity: 30%;
    position: absolute;
    right: 10%;
    width: 13rem;
    top: 10%;
}

#FireStormSpell,
#Tolfdir,
#Atronach,
#IllusionCalmSpell,
#Healing {
    width: 60rem;
    max-width: fit-content;
    min-width: 50rem;
    height: fit-content;
}

#Conjuration {
    font-size: 2.5vw;
    text-align: center;
    background: linear-gradient(#6240a0, #3f0086);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

#ConjurationHeader {
    font-size: 3rem;
    text-align: center;
    background: linear-gradient(#6240a0, #3f0086);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

#Conjuration-Symbol {
    opacity: 30%;
    position: absolute;
    right: 10%;
    width: 20rem;
    top: 10%;
}

#Conjuration-Container {
    display: flex;
    margin: 0;
    border: 10rem;
    height: fit-content;
}

#Conjuration-Container,
p {
    position: relative;
    margin: 0;
}

#Restoration {
    font-size: 2.5vw;
    text-align: center;
    background: linear-gradient(#ffd700, #f79311);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

#RestorationHeader {
    font-size: 3rem;
    text-align: center;
    background: linear-gradient(#ffd700, #f79311);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

#Restoration-Symbol {
    opacity: 30%;
    position: absolute;
    right: 10%;
    width: 20rem;
    top: 10%;
}

#Restoration-Container {
    display: flex;
    margin: 0;
    border: 20rem;
    height: fit-content;
    min-width: 100rem;
}

#Restoration-Container,
p {
    position: relative;
    font-size: 64px;
}

#Illusion {
    font-size: 2.5vw;
    text-align: center;
    background: linear-gradient(#5478a7, #0073d1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

#IllusionHeader {
    font-size: 3rem;
    text-align: center;
    background: linear-gradient(#5478a7, #0073d1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

#Illusion-Container {
    display: flex;
    margin: 0;
    border: 10rem;
    width: fit-content;
}

#Conjuration-Container,
p {
    position: relative;
    font-size: 64px;
}

#IllusionSymbol {
    opacity: 30%;
    position: absolute;
    right: 10%;
    width: 20rem;
    top: 235rem;
}

#Alteration {
    font-size: 2.5vw;
    text-align: center;
    background: linear-gradient(#54a779, #00d13f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

#AlterationHeader {
    font-size: 3rem;
    text-align: center;
    background: linear-gradient(#54a779, #00d13f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    margin: 0;
}

#Alteration-Container {
    margin: 0;
    border: 10rem;
    display: flex;
}

#Alteration-Container,
p {
    position: relative;
    font-size: 64px;
}

#AlterationSymbol {
    opacity: 30%;
    position: absolute;
    right: 10%;
    width: 20rem;
    top: 10%;
}

.IntroContainer {
    display: flex;
    color: white;
    font-size: 0.5rem;
}

.IntroContainer p {
    font-size: 2.5rem;
    text-align: justify;
    left: 2rem;
    word-spacing: 1.5p;
}

.SorcererDragon {
    max-width: fit-content;
    height: fit-content;
    width: 35rem;
    margin: 0rem 4rem 0rem 4rem;
    border-left: 1rem;
}

@media (max-width: 1000px) {
    html {
        width: 100%;
    }
    #magesBG {
        width: 70rem;
        min-width: 10rem;
    }
    .logo {
        width: 10vw;
        height: 10vw;
        min-width: 5rem;
        min-height: 5rem;
        position: absolute;
        left: 0;
        top: 0;
    }
    .navbar-links {
        margin: 0;
        display: inline;
        width: fit-content;
        height: fit-content;
        top: 0;
    }
    li {
        margin: 0;
        height: fit-content;
        width: fit-content;
    }
    #Destruction-Container,
    #Conjuration-Container,
    #Restoration-Container,
    #Illusion-Container,
    #Alteration-Container {
        display: block;
        margin: 0;
        max-width: 100%;
        min-width: 20rem;
    }
    #Destruction {
        max-width: 100%;
        margin: 0 auto;
        width: fit-content;
        padding: 0 1rem;
        text-align: center;
        font-size: 0.6rem;
        top: 0;
        min-width: 15rem;
        align-items: center;
        word-wrap: break-word;
    }
    #DestructionHeader {
        font-size: 1rem;
    }
    #DestructionSymbol {
        opacity: 30%;
        position: absolute;
        right: 5rem;
        width: 10rem;
        top: 8rem;
    }
    #Conjuration-Symbol,
    #Restoration-Symbol,
    #IllusionSymbol {
        opacity: 30%;
    }
    #AlterationSymbol {
        top: 10rem;
        opacity: 30%;
    }
    #FireStormSpell,
    #Healing,
    #IllusionCalmSpell,
    #Atronach,
    #Tolfdir {
        width: 22rem;
        min-width: 5rem;
        max-width: fit-content;
    }
}