html,
body {
  margin: 0;
  padding: 1;
  height: 100vh;
  width: 100vw;
  background-color: #0a0c0e;
  text-align: justify;
  line-height: 1.8;
  font-size: 1.1em;
  /* Garante que o corpo ocupe toda a altura da tela */
}

footer {
  background-color: gray;
}

.magesBG {
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  z-index: -1;
}

.container {
  text-align: center;
  position: relative;
}

.logo {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  width: 10vw;
  height: 30vh;
}

.navbar-links {
  position: absolute;
  z-index: 10;
  top: 0%;
  right: 0%;
  color: white;
  display: inline;
  font-size: 2vw;
  margin: 2rem;
}

.navbar-links,
a {
  color: white;
  text-decoration: none;
}

nav ul li {
  display: inline;
  font-size: 2vw;
  margin: 2rem;
}

#Spells {
  color: rgb(245, 70, 70);
  font-size: 2vw;
  font-weight: bold;
}

#Intro:hover {
  color: rgb(245, 70, 70);
  font-weight: bold;
  cursor: pointer;
}

#Spells:hover {
  color: rgb(245, 70, 70);
  font-weight: bold;
  cursor: pointer;
}

#Guild:hover {
  color: rgb(245, 70, 70);
  font-weight: bold;
  cursor: pointer;
}

.ScrollableText {
  width: 100%;
  /* Garante que ocupa pelo menos o tamanho da tela */
  line-height: 1.8;
  font-size: 1.1em;
  z-index: 0;
}

#Destruction {
  font-size: 2.5vw;
  text-align: center;
  background: linear-gradient(#ecff3d, #f79311, #cc0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

#Destruction,
h2 {
  text-align: right;
  top: 8rem;
}

#Destruction-Container {
  display: flex;
  margin: 10rem;
  border: 10rem;
}

#Destruction-Container,
p {
  position: relative;
  font-size: 64px;
}

#DestructionSymbol {
  opacity: 40%;
  position: absolute;
  right: 28rem;
  width: 20%;
}

#FireStormSpell {
  width: 100%;
}

#Conjuration {
  font-size: 2.5vw;
  text-align: center;
  background: linear-gradient(#6240a0, #3f0086);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

#Conjuration-Symbol {
  opacity: 40%;
  position: absolute;
  width: 40%;
}

#Conjuration-Container {
  display: flex;
  margin: 10rem;
  border: 10rem;
}

#Atronach {
  width: 100%;
}

#Conjuration-Container,
p {
  position: relative;
  font-size: 64px;
}

#Restoration {
  font-size: 2.5vw;
  text-align: center;
  background: linear-gradient(#ffd700, #f79311);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

#Restoration-Symbol {
  opacity: 40%;
  position: absolute;
  right: 40rem;
  width: 40%;
}

#Restoration-Container {
  display: flex;
  margin: 10rem;
  border: 10rem;
}

#Healing {
  width: 100%;
}

#Restoration-Container,
p {
  position: relative;
  font-size: 64px;
}

#Illusion {
  font-size: 2.5vw;
  text-align: center;
  background: linear-gradient(#5478a7, #0073d1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

#Illusion-Container {
  display: flex;
  margin: 10rem;
  border: 10rem;
}

#Conjuration-Container,
p {
  position: relative;
  font-size: 64px;
}

#IllusionSymbol {
  opacity: 40%;
  position: absolute;
  left: 20rem;
  width: 10vw;
}

#IllusionCalmSpell {
  width: 100%;
}

#Alteration {
  font-size: 2.5vw;
  text-align: center;
  background: linear-gradient(#54a779, #00d13f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

#Alteration-Container {
  display: flex;
  margin: 10rem;
  border: 10rem;
}

#Alteration-Container,
p {
  position: relative;
  font-size: 64px;
}

#AlterationSymbol {
  opacity: 40%;
  position: absolute;
  right: 10rem;
  width: 40%;
}

#Tolfdir {
  width: 100%;
}

@media (max-width: 550px) {
  #magesBG {
    width: 100vw;
  }
  .logo {
    width: 15vw;
    height: 10vh;
    min-width: 5rem;
    min-height: 5rem;
  }
  .navbar-links {
    margin: 0rem;
  }
  #Destruction-Container {
    display: block;
    margin: 0;
    max-height: fit-content;
    max-width: fit-content;
    min-width: 20rem;
  }
  #FireStormSpell {
    max-width: fit-content;
    width: 100vw;
    left: 0;
    min-width: 20rem;
  }
  #Destruction {
    max-width: fit-content;
    margin: 0;
    width: 100vw;
    padding-right: 10%;
    padding-left: 10%;
    text-align: center;
    font-size: 0.45em;
    top: 0;
    min-width: 20rem;
  }
  #Intro {
    font-size: 1.5em;
  }
  #Spells {
    font-size: 1.5em;
  }
  #Guild {
    font-size: 1.5em;
  }
  #Conjuration-Container {
    display: block;
    margin: 0;
    max-height: fit-content;
    max-width: fit-content;
    min-width: 20rem;
  }
  #Conjuration {
    max-width: fit-content;
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    font-size: 0.45em;
    min-width: 20rem;
  }
  #Atronach {
    max-width: fit-content;
    width: 100vw;
    right: 0;
    top: 0;
    min-width: 20rem;
  }
  #Conjuration-Symbol {
    width: 100vw;
    top: 0;
    min-width: 20rem;
  }
  #Restoration {
    max-width: fit-content;
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    font-size: 0.45em;
    min-width: 20rem;
  }
  #Healing {
    width: 100vw;
    max-width: fit-content;
    right: 0;
    bottom: 0;
    min-width: 20rem;
  }
  #Restoration-Container {
    display: block;
    margin: 0;
    max-height: fit-content;
    max-width: fit-content;
    min-width: 20rem;
  }
  #Restoration-Symbol {
    width: 100vw;
    top: 0;
    min-width: 20rem;
  }
  #Illusion {
    max-width: fit-content;
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    font-size: 1.5em;
    min-width: 20rem;
  }
  #IllusionCalmSpell {
    width: 100vw;
    max-width: fit-content;
    right: 0;
    bottom: 0;
    min-width: 20rem;
  }
  #Illusion-Container {
    display: block;
    margin: 0;
    max-height: fit-content;
    max-width: fit-content;
    min-width: 20rem;
  }
  #IllusionSymbol {
    position: absolute;
    width: 100vw;
    z-index: -1;
    min-width: 20rem;
  }
  #Alteration-Container {
    margin: 0;
    display: block;
    max-width: fit-content;
    max-height: fit-content;
    min-width: 20rem;
  }
  #Alteration {
    max-width: fit-content;
    margin: 0;
    padding-right: 10%;
    padding-left: 10%;
    text-align: center;
    font-size: 0.5em;
    min-width: 20rem;
  }
  #AlterationSymbol {
    width: 100vw;
    left: 0;
    bottom: 1em;
    min-width: 20rem;
  }
  #Tolfdir {
    width: 100vw;
    max-width: fit-content;
    right: 0;
    bottom: 0;
    min-width: 20rem;
  }
}
