html,
body {
  margin: 0;
  padding: 1;
  height: 100%;
  background-color: #0a0c0e;
  text-align: justify;
  line-height: 1.8;
  font-size: 1.1em;
  /* Garante que o corpo ocupe toda a altura da tela */
}

footer {
  background-color: gray;
}

.magesBG {
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  z-index: -1;
}

.container {
  text-align: center;
  position: relative;
}

.logo {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
}

.navbar-links {
  position: absolute;
  z-index: 10;
  top: 0%;
  right: 0%;
  color: white;
  display: inline;
  font-size: 2vw;
  margin: 2rem;
}

.navbar-links,
a {
  color: white;
  text-decoration: none;
}

nav ul li {
  display: inline;
  font-size: 2vw;
  margin: 2rem;
}

#Destruction-Container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#Spells {
  color: rgb(70, 195, 245);
  font-size: 2vw;
  font-weight: bold;
}

#Intro:hover {
  color: rgb(70, 195, 245);
  font-size: 2.5vw;
  font-weight: bold;
  cursor: pointer;
}

#Spells:hover {
  color: rgb(70, 195, 245);
  font-size: 2.5vw;
  font-weight: bold;
  cursor: pointer;
}

#Guild:hover {
  color: rgb(70, 195, 245);
  font-size: 2.5vw;
  font-weight: bold;
  cursor: pointer;
}

#ScrollableText {
  width: 100%;
  height: 100%;
  text-align: justify;
  line-height: 1.8;
  font-size: 1.1em;
  z-index: 0;
}

.Destruction-Container {
  position: relative;
  z-index: 1;
}
