html,
body {
  margin: 0;
  padding: 1;
  height: 100%;
  background-color: #0a0c0e;
  text-align: justify;
  line-height: 1.8;
  font-size: 1.1em;
  /* Garante que o corpo ocupe toda a altura da tela */
}

footer {
  background-color: gray;
}

.magesBG {
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  z-index: -1;
}

.container {
  text-align: center;
  position: relative;
}

.logo {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
}

.navbar-links {
  position: absolute;
  z-index: 10;
  top: 0%;
  right: 0%;
  color: white;
  display: inline;
  font-size: 2vw;
  margin: 2rem;
}

.navbar-links,
a {
  color: white;
  text-decoration: none;
}

nav ul li {
  display: inline;
  font-size: 2vw;
  margin: 2rem;
}

#Spells {
  color: rgb(70, 195, 245);
  font-size: 2vw;
  font-weight: bold;
}

#Intro:hover {
  color: rgb(70, 195, 245);
  font-size: 2.5vw;
  font-weight: bold;
  cursor: pointer;
}

#Spells:hover {
  color: rgb(70, 195, 245);
  font-size: 2.5vw;
  font-weight: bold;
  cursor: pointer;
}

#Guild:hover {
  color: rgb(70, 195, 245);
  font-size: 2.5vw;
  font-weight: bold;
  cursor: pointer;
}

.ScrollableText {
  width: 100%;
  /* Garante que ocupa pelo menos o tamanho da tela */
  line-height: 1.8;
  font-size: 1.1em;
  z-index: 0;
}

#FireStormText {
  display: grid;
  flex-wrap: wrap;
  margin-top: 2rem;
  /* Espaçamento superior */
  position: relative;
  z-index: 1;
}

#FireStormText img {
  max-width: 60%;
  display: grid;
  height: 80%;
  margin: 1rem;
  /* Para adicionar espaço entre as imagens */
}

#Destruction-Symbol {
  align-items: center;
  right: 20rem;
  width: 15%;
  position: absolute;
}

section,
h2,
p {
  color: white;
  font-size: 1.5vw;
  text-align: center;
}

#Fire {
  font-size: 2.5vw;
  text-align: center;
  background: linear-gradient(#ff0000, #ff8c00, #ffd700);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

#Conjuration {
  font-size: 2.5vw;
  text-align: center;
  background: linear-gradient(#6240a0, #3f0086);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

#Conjuration-Symbol {
  opacity: 20%;
  position: absolute;
  right: 20rem;
  bottom: -5rem;
}

#Conjuration-Container {
  display: flex;
}

#Atronach {
  width: 100%;
}

#Conjuration-Container,
p {
  position: relative;
  font-size: 64px;
}

#Restoration{
  font-size: 2.5vw;
  text-align: center;
  background: linear-gradient(#ffd700,#ff8c00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}


#Restoration-Container{
  display: flex;
}

#Restoration-symbol{
  opacity: 20%;
  position: absolute;
  right: 15rem;
}