/* Ensure the body and html elements fill the screen */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* Style for the background image */

h2 {
  margin: 0;
}

nav,
a {
  margin: 0;
}

.backgroundImage {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.medievalsharp-regular {
  font-family: "MedievalSharp", cursive;
  font-weight: 400;
  font-style: normal;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  flex-direction: column;
  position: relative;
}

.rectangle {
  background-color: rgba(15, 15, 15, 0.75);
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100vh;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.Text {
  color: white;
  text-align: center;
  font-weight: bold;
  font-family: MedievalSharp;
  opacity: 0;
  animation: fadeInText 2s forwards 1s;
}

.Text h2 {
  font-size: 2rem;
  color: rgb(109, 109, 109);
  margin-bottom: 1.5rem;
}

.Text h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.Text img {
  animation: fadeInImage 2s forwards 1s;
  opacity: 0;
}

#Logo {
  width: 35rem;
  height: 40rem;
}

.Text h2 {
  opacity: 0;
  animation: fadeInText 2s forwards 3s;
}

.Text a {
  color: rgba(199, 199, 199, 0.75);
  font-size: 3rem;
  text-decoration: none;
  display: inline-block;
  margin: 24px;
  opacity: 0;
  animation: fadeInLink 2s forwards 3s;
  margin: 0;
}

.Text a:hover {
  color: rgb(0, 255, 255);
  transition: 0.8s;
}

@keyframes fadeInImage {
  to {
    opacity: 1;
    /* Fade in the image */
  }
}

@keyframes fadeInText {
  to {
    opacity: 1;
    /* Fade in the text */
  }
}

@keyframes fadeInLink {
  to {
    opacity: 1;
    /* Fade in the links */
  }
}

@media (max-width: 480px) {
  .Text {
    font-size: 40px;
    /* Adjusted font size for mobile readability */
    text-align: center;
  }
  .Text a {
    font-size: 30px;
    /* Smaller, readable link size */
    margin: 10px;
    /* Compact spacing for links */
  }
  .rectangle {
    width: auto;
    height: 130vh;
    /* Ensures full coverage on mobile */
    object-fit: fill;
    position: absolute;
    top: 34rem;
    left: 12rem;
  }
  .container {
    padding: 0px;
    height: auto;
    width: auto;
    /* Slightly more padding for spacing */
  }
  .backgroundImage {
    width: 100%;
    height: 130vh;
    /* Ensures full coverage on mobile */
    object-fit: cover;
    position: fixed;
    top: 0px;
    left: 0px;
  }
  .container > img {
    width: 4rem;
    height: 3rem;
    margin: 0;
    padding: 0;
    border: 0;
    left: 0;
    right: 0;
  }
  .container > h2 {
    font-size: 40px;
  }
}
